theme = "davidtwco"

confirm-before-quit = false

{{ if eq .chezmoi.os "darwin" -}}
option-as-alt = "left"
{{- end }}

[editor]
program = "hx"

{{ if eq .chezmoi.os "darwin" -}}
[window]
decorations = "transparent"
macos-use-shadow = true
{{- end }}

[fonts]
size = 14
family = "Iosevka Term"

[title]
content = ""

[navigation]
mode = "plain"
