# davidtwco .bash_aliases Configuration
#	dotfiles: https://github.com/davidtwco/dotfiles
#	website: https://davidtw.co
# =================================================

# If fasd is installed and in use, add a bunch of
# aliases for it.
if command -v fasd >/dev/null 2>&1; then
    # Any
    alias a='fasd -a'

    # Show/search/select
    alias s='fasd -si'

    # Directory
    alias d='fasd -d'

    # File
    alias f='fasd -f'

    # Interactive directory selection
    alias sd='fasd -sid'

    # Interactive file selection
    alias sf='fasd -sif'

    # cd - same functionality as j in autojump
    alias z='fasd_cd -d'

    # Interactive cd
    alias zz='fasd_cd -d -i'

    # Vim
    alias v='fasd -f -e vim'
fi

# 'rm' will prompt once before
#  - removing more than three files.
#  - removing recursively.
alias rm='rm -I'

# Enable color support of ls and also add handy aliases.
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    alias dir='dir --color=auto'
    alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# More ls aliases.
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Replace 'ls' with exa if it is available.
if command -v exa >/dev/null 2>&1; then
    alias ls="exa --git --color=automatic"
    alias ll="exa --all --long --git --color=automatic"
    alias la="exa --all --binary --group --header --long --git --color=automatic"
    alias l="exa --git --color=automatic"
fi

# Alias 'git' to 'hub' if it is available.
if command -v hub >/dev/null 2>&1; then
    eval "$(hub alias -s)"
fi

if command -v nvim >/dev/null 2>&1; then
    alias vim="nvim"
    alias vimdiff="nvim -d"
fi

# Add aliases for workman configurations.
if command -v workman >/dev/null 2>&1; then
    alias workman-rust="WORKMAN_CONFIG_FILE=.workman_config_rust workman"
    alias workman-rust-analyzer="WORKMAN_CONFIG_FILE=.workman_config_rust_analyzer workman"
    alias workman-rust-compiler-team="WORKMAN_CONFIG_FILE=.workman_config_rust_compiler_team workman"
    alias workman-rust-team="WORKMAN_CONFIG_FILE=.workman_config_rust_team workman"
fi

# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

if grep -q Microsoft /proc/version; then
    alias rust-musl-builder='docker run --rm -it -v "${$(readlink -f .)#/mnt}":/home/rust/src ekidd/rust-musl-builder:stable'
else
    alias rust-musl-builder='docker run --rm -it -v "${PWD}":/home/rust/src ekidd/rust-musl-builder:stable'
fi

# vim:foldmethod=marker:foldlevel=0:ft=zsh
