[user]
    name = David Wood
    email = david@davidtw.co
    signingkey = 9F53F154
[core]
    editor = vim
[push]
    default = simple
    followTags = true
[color]
    ui = auto
[include]
    path = ~/.yadm/external/gitalias/gitalias.txt
[alias]
    ps = push
    # Overrides gitalias.txt `save` to include
    # untracked files.
    save = stash save --include-untracked
[commit]
    gpgsign = true
[gpg]
    program = gpg2
[diff]
    compactionHeuristic = true
    indentHeuristic = true
[submodule]
    fetchJobs = 4
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[rebase]
    autosquash = true
