[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".config/gitalias"]
	path = .config/gitalias
	url = https://github.com/GitAlias/gitalias.git
[submodule ".config/antigen"]
	path = .config/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".config/up"]
	path = .config/up
	url = https://github.com/shannonmoeller/up.git
[submodule ".config/vim-plug"]
	path = .config/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule ".config/weechat-matrix-protocol-script"]
	path = .config/weechat-matrix-protocol-script
	url = https://github.com/torhve/weechat-matrix-protocol-script.git
