[submodule "tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "gitalias"]
	path = .yadm/external/gitalias
	url = https://github.com/GitAlias/gitalias.git
[submodule "fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule "minpac"]
	path = .vim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule ".yadm/external/gdb-dashboard"]
	path = .yadm/external/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
