# davidtwco .gitconfig Configuration
#	dotfiles: https://github.com/davidtwco/dotfiles
#	website: https://davidtw.co
# ==================================================
# vim:ft=gitconfig:ts=4:sts=4:sw=4:noexpandtab

[user]
	name = David Wood
	email = git@david.davidtw.co
	signingkey = 9F53F154
	useConfigOnly = true
[core]
	editor = nvim
	excludesfile = /home/david/.gitignore_global
[push]
	default = simple
	followTags = true
[color]
	ui = auto
[include]
	path = ~/.yadm/external/gitalias/gitalias.txt
[alias]
	# Debug a command or alias - preceed it with `debug`.
	debug  = "!set -x; GIT_TRACE=2 GIT_CURL_VERBOSE=2 GIT_TRACE_PERFORMANCE=2 GIT_TRACE_PACK_ACCESS=2 GIT_TRACE_PACKET=2 GIT_TRACE_PACKFILE=2 GIT_TRACE_SETUP=2 GIT_TRACE_SHALLOW=2 git"
	# Quote / unquote a sh command, converting it to / from a git alias string
	quote-string = "!read -r l; printf \\\"!; printf %s \"$l\" | sed 's/\\([\\\"]\\)/\\\\\\1/g'; printf \" #\\\"\\n\" #"
	quote-string-undo = "!read -r l; printf %s \"$l\" | sed 's/\\\\\\([\\\"]\\)/\\1/g'; printf \"\\n\" #"
	# Push commits upstream.
	ps = push
	# Overrides gitalias.txt `save` to include untracked files.
	save = stash save --include-untracked
[commit]
	gpgsign = true
	verbose = true
[gpg]
	program = gpg2
[diff]
	compactionHeuristic = true
	indentHeuristic = true
[submodule]
	fetchJobs = 4
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
[status]
	showStash = true
[stash]
	showPatch = true
