[user]
	name = David Wood
	email = david@davidtw.co
	signingkey = 9F53F154
[core]
	editor = vim
[push]
	default = simple
[color]
	ui = auto
[include]
	path = ~/.config/gitalias/gitalias.txt
[alias]
	ps = push
[commit]
	gpgsign = true
[gpg]
	program = gpg2
