{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF

$(brew --prefix)/bin/fish <<EOF
curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish \
  | source \
  && fisher install jorgebucaran/fisher
{{ range .packages.fisher -}}
fisher install {{ . }}
{{ end -}}
EOF

{{ end -}}
