"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[aliases]
a = ["abandon"]
d = ["diff"]
e = ["edit"]
l = ["log"]
la = ["log", "-r", "log-all"]
n = ["new"]
rb = ["rebase"]

tug = ["util", "exec", "--", "sh", "-c", """
if [ "x$1" = "x" ]; then
  jj bookmark move --from "closest_bookmark(@)" --to "closest_pushable(@)"
else
  jj bookmark move --to "closest_pushable(@)" "$@"
fi
""", ""]

[git]
fetch = ["upstream", "origin"]
push = "origin"
push-new-bookmarks = true

[revset-aliases]
log-all = "present(@) | ancestors(immutable_heads().., 2) | present(trunk())"

"closest_bookmark(to)" = "heads(::to & bookmarks())"
"closest_pushable(to)" = 'heads(::to & mutable() & ~description(exact:"") & (~empty() | merges()))'

[revsets]
log = "(trunk()..@):: | (trunk()..@)-"

[signing]
behavior = "own"
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDNJI59xzWBIaWoGvoFcJk3f5YtpDoYkZhkvQC6rqYV2"

[signing.backends.ssh]
allowed-signers = "~/.ssh/allowed_signers"
{{- if eq .chezmoi.os "darwin" }}
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}

[template-aliases]
"format_timestamp(timestamp)" = "timestamp.ago()"
"format_short_signature(signature)" = "signature"
"in_branch(commit)" = 'commit.contained_in("(immutable_heads() | remote_bookmarks())..bookmarks()")'

[templates]
draft_commit_description = '''
  concat(
    coalesce(description, default_commit_description, "\n"),
    surround(
      "\nJJ: This commit contains the following changes:\n", "",
      indent("JJ:     ", diff.stat(72)),
    ),
    "\nJJ: ignore-rest\n",
    diff.git(),
  )
'''
log_node = '''
if(self && !current_working_copy && !immutable && !conflict && in_branch(self),
  "◇",
  builtin_log_node
)
'''

[ui]
default-command = "log"
editor = "hx"

[user]
name = "David Wood"
email = {{ .email | quote }}
