local wezterm = require 'wezterm'
local config = wezterm.config_builder()

config.font = wezterm.font 'Iosevka Term'
config.font_size = 14.0

config.color_scheme = 'Hybrid'

{{ if eq .chezmoi.os "darwin" -}}
config.window_background_opacity = 0.9
config.macos_window_background_blur = 30
{{ end -}}

config.window_decorations = "RESIZE|INTEGRATED_BUTTONS"
config.hide_tab_bar_if_only_one_tab = true
config.window_padding = {
  left = "5pt",
  right = "5pt",
  top = "30pt",
  bottom = "1pt",
}

return config
